<!DOCTYPE html>
<html>
    <body>
        <h1>Indie Movie Database</h1>
        <h2>Create and View Movies and their actors, directors, etc.:</h2>
        <ul>
          <li><a href="{{ url_for('api.createPerson') }}">Create Person</a></li>
          <li><a href="{{ url_for('api.createMovie') }}" >Create Movie</a></li>
            <li><a href="{{ url_for('api.getMovie') }}"   >Look For a Movie</a></li>
            <li><a href="{{ url_for('api.getPerson') }}"   >Look For a Person</a></li>
          <li><a href="{{ url_for('api.getUsers') }}"    >View All People</a></li>
          <li><a href="{{ url_for('api.getMovies') }}"   >View All Movies</a></li>
        </ul>  
    </body>
</html>

